/* @import url('https://fonts.googleapis.com/css2?family=Catamaran'); */

html {
    /* font-family: 'Catamaran', sans-serif; */
    color: #888888;
}

.card {
    width: 200px;
    margin: auto auto;
    border: 1px solid burlywood;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
    box-shadow: 10px 10px 50px rgba(255, 68, 0, 0.22);
}

.card-head {
    background: linear-gradient(to top right, rgba(255, 166, 0, 0.5), rgba(128, 0, 128, 0.5));
    padding: 30px;
}

.card-title {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: navy;
}

.card-body {
    padding: 0 10px;
    text-align: justify;
}